<div class="container">
    <div class="mt-50 mb-40">
        <h1 class="display-4 text-center">Trabalhos Concluídos</h1>
    </div>

    <div class="">
        <!-- <div class="card-job">
            <img src="assets/img/front-end.jpg" alt="fron-end" width="100%"/>
            <h2 class="mb-5 mt-20">Título</h2>
            <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam quo provident praesentium, quibusdam eius cupiditate eveniet. Ad enim ipsam expedita cum vitae doloremque commodi nam quo, repellendus ea numquam.</p>
        </div> -->
        <ng-content></ng-content>
    </div>
    
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>